.container__banner {
}

.banner {
	margin-top: 20px;
	height: 363px;
	background: #ffffff;
	border-radius: 10px 10px 0px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2%;
	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 288.83px;
		column-gap: 6%;
		&_text {
			width: 45%;

			&_title {
				font-weight: 500;
				font-size: 22px;
				line-height: 26px;
				text-align: center;
				letter-spacing: -0.24px;
			}
			&_main {
				margin-top: 15px;
				font-weight: 400;
				font-size: 16px;
				line-height: 20px;
				text-align: center;
				letter-spacing: -0.24px;
			}
		}
	}
}
