.registration {
	margin: 30px auto 0px;
	display: flex;
	column-gap: 20px;
	padding: 0 5px;
	.left {
		width: 58%;
	}
	&__recently {
		height: 363px;
		background: #ffffff;
		border-radius: 10px 10px 0px 0px;
		padding: 30px;
		&_title {
			font-weight: 500;
			font-size: 22px;
			line-height: 26px;
		}
		&_tip {
			margin-top: 12px;
			font-weight: 400;
			font-size: 16px;
			line-height: 20px;
			color: #bcbcbc;
			letter-spacing: -0.24px;
		}
		&_accounts {
			margin-top: 20px;
			display: flex;
			column-gap: 20px;
			&_item {
				width: 192px;
				height: 225px;
				border: 0.5px solid #bcbcbc;
				border-radius: 20px;
				letter-spacing: -0.24px;
				font-weight: 400;
				font-size: 16px;
				line-height: 20px;
				color: #545454;
				display: flex;
				justify-content: center;
				align-items: center;
				div {
					width: 96px;
					height: 152px;
					img {
						margin-bottom: 20px;
					}

					display: flex;
					flex-direction: column;
					align-items: center;
				}
			}
		}
	}

	&__banners {
		width: 33%;
	}
}
