.carousel {
	margin-top: 20px;
	width: 806px;
	height: 363px;
	background: #ffffff;
	border-radius: 10px 10px 0px 0px;
	display: flex;
	justify-content: center;
}

.window {
	height: 100%;
	width: 100%;
}

.allpages {
  height: 100%;
  display: flex;
}
