.container {
	display: flex;
	justify-content: center;
	padding-top: 30px;
}

.payment {
	width: 60%;
	display: flex;
	flex-direction: column;
	row-gap: 8px;
	&__title {
		width: 100%;
		height: 205px;
		background: #ffffff;
		padding: 30px;
		&_description {
			width: 100%;
			display: flex;
			column-gap: 20px;
			font-family: 'SF UI Display';
			font-style: normal;
			font-weight: 500;
			font-size: 22px;
			line-height: 26px;
			letter-spacing: -0.24px;
			&_container {
				width: 100%;
				display: flex;
				flex-direction: column;
			}
			&_about {
				display: flex;
				width: 100%;
				height: 100%;
				justify-content: space-between;
			}
			&_tags {
				display: flex;
				column-gap: 10px;
				button {
					background: #ededed;
					border-radius: 5px;
					padding: 0 10px;
					height: 24px;
					font-weight: 400;
					font-size: 12px;
					line-height: 14px;
					letter-spacing: 0.3px;
				}
			}
		}

		&_counter {
			display: flex;
			margin-top: 30px;
			width: 100%;
			justify-content: space-between;
			&_count {
				display: flex;
				align-items: center;
				column-gap: 14px;
				&_quantity {
					font-family: 'SF Pro Display';
					font-style: normal;
					font-weight: 400;
					font-size: 12px;
					line-height: 14px;
					display: flex;
					flex-direction: column;
					align-items: center;
					row-gap: 4px;
					letter-spacing: 0.3px;
					color: #bcbcbc;
					div {
						font-weight: 700;
						font-size: 16px;
						line-height: 20px;
						color: #000000;
					}
				}
			}
			&_price {
				display: flex;
				flex-direction: column;
				align-items: flex-end;
				row-gap: 3px;
				&_title {
					font-weight: 400;
					font-size: 16px;
					line-height: 20px;
					color: #bcbcbc;
				}
			}
		}
	}
	&__status {
		display: flex;
		flex-direction: column;
		row-gap: 10px;
		padding: 30px;
		background-color: white;

		div {
			display: flex;
			align-items: center;
			column-gap: 8px;
			div {
				display: inline;
				a {
					color: #6c27ab;
				}
			}
		}
	}
	&__input {
		padding: 30px;
		background-color: white;
		display: flex;
		flex-direction: column;
		row-gap: 12px;
		&_title {
			font-family: 'SF UI Text';
			font-style: normal;
			font-weight: 300;
			font-size: 14px;
			line-height: 17px;
			display: flex;
			align-items: center;
			letter-spacing: -0.24px;
			color: #bcbcbc;
		}
		&_mail {
			font-family: 'SF UI Text';
			font-style: normal;
			font-weight: 300;
			font-size: 14px;
			line-height: 17px;
			display: flex;
			align-items: center;
			letter-spacing: -0.24px;
		}

		input {
			width: 100%;
			height: 40px;
			left: 30px;
			right: 30px;
			top: 59px;

			background: #f5f5f5;
			border-radius: 10px;
			padding-left: 20px;
		}
		&_input {
			position: relative;
			input {
				width: 100%;
				height: 40px;
				left: 30px;
				right: 30px;
				top: 59px;

				background: #f5f5f5;
				border-radius: 10px;
				padding-left: 55px;
			}
			svg {
				position: absolute;
				left: 20px;
				top: 12px;
			}
		}
		input::placeholder {
			font-family: 'SF UI Text';
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 20px;
			display: flex;
			align-items: center;
			letter-spacing: -0.24px;
		}
	}
	&__button {
		width: 100%;
		height: 40px;
		margin-top: 22px;
		background: #ffffff;
		color: white;
		background: #6c27ab;
		border-radius: 10px;
	}
}
