.container__header {
	background: #ffffff;
}
.header {
	width: 1440px;
	margin: 0 auto;
	background: #ffffff;
	height: 60px;
	display: flex;
	align-items: center;

	&__logo {
		display: flex;
		width: 148px;
		height: 35px;
		align-items: center;
		justify-content: space-between;
		font-weight: 500;
		font-size: 22px;
		line-height: 26px;
		letter-spacing: -0.24px;
		margin-right: 40px;
	}
	&__language {
		margin-left: 807px;
		width: 96px;
		height: 20px;
		display: flex;
		justify-content: space-between;
		button {
			background-color: white;
			font-weight: 400;
			font-size: 16px;
			line-height: 20px;
		}
	}
}
